.footer{
    /* display: flex; */
    justify-content: space-evenly;
    background-color: #000;
    padding: 40px;
    text-align: center;
}
.img img{
    width: 60%;
}
.text1 h1,.text2 h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}
.text1 p,.text2 p{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
}
.text2 p{
    width: 50%;
}
.text1 input{
    outline: none;
    padding: 2px 20px;
    text-align: center;
}
.icons button{
    padding: 5px 15px;
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
    background-color: rgb(209, 158, 62);
    color: #fff;
    border-radius: 30px;
    transition: .6s;
}
.icons button:hover{
    background-color: rgb(173, 120, 20);
}
.icons a{
    font-size: 27px;
    color: gray;
    transition: .5s;
}
.icons a:hover[type=fb]{
    color: #3b5998;
}
.icons a:hover[type=twt]{
    color: #1da1f2;
}
.icons a:hover[type=ins]{
    color:#3f729b ;
}
.icons a:hover[type=you]{
    color: #FF0000;
}
.icons h1{
    color: #fff;
    font-size: 18px;
}
.icons p{
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (min-width: 768px) {

    .footer{
        display: flex;
        text-align: start;
        padding: 50px;
    }
    .img img{
        width: 180px;
    }
    .text1 h1,.text2 h1{
        width: 80%;
        margin: 0;
        padding-top:0;
    }
    .text1 p,.text2 p{
        width: 80%;
        margin: 0;
        padding-top:0;
    }
    .icons p{
        width: 80%;
        margin: 0;
    }


}